body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

input, button {
    margin: 10px;
    padding: 5px;
    font-size: 1em;
}

.svg-container {
    width: 90vmin; /* 90% of the smallest viewport dimension */
    height: 90vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

svg {
    width: 100%;
    height: 100%;
}

input[type="number"] {
    width: 150px;
}
